<p>The values of Array is </p> 
<%= @var.each_with_index.sort %>
<p>The highest odd value is </p>
<%= @var.max %>
<p>The smallest odd value is </p>
<%= @var.min %>
<br>
<p>number of steps to find odd element is 1 </p>